html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    padding: 2vw;
}

/* Navbar Styles */
.nav {
    border-bottom: 1px solid #d3d3d3; 
    position: relative;
    z-index: 1; 
}

.nav__checkbox {
    display: none;
}

.nav__toggle {
    position: absolute;
    cursor: pointer;
    margin: 0;
    right: 10px;
    top: 10px;
    z-index: 2; 
}

.nav__toggle svg {
    width: 2rem;  
    height: 2rem;
    fill: #808080; 
}

.nav__menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: #EDA8B8;
    width: 100px;
    border-radius: 5px;  
    z-index:3;
}

.nav__menu li {
    display: block;
    width: 100%; 
}

.nav__menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 0;
    display: block; 
    text-align: center;
}

.nav__menu a:hover {
    background-color: #EDA8B8;
}

.nav__checkbox:checked ~ .nav__menu {
    display: flex; 
}

/* Navbar with logo and links */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #930c37;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

/* Media Queries */
@media (max-width: 768px) {
    .navbar-links ul {
        display: none;
    }

    .navbar .nav__menu {
        flex-direction: column;
        display: none; 
        position: fixed;  
        top: 0;
        left: 0;
        height: 100%;
        width: 250px; 
    }

    .nav__checkbox:checked + label + .nav__menu {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links ul {
        display: block;
        text-align: center;
    }
}

/* Desktop view */
@media only screen and (min-width: 560px) {
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        flex-direction: row;
        display: flex;
        position: static;
        width: auto;
    }

    .nav__menu li {
        display: inline-block;
    }
}
