body {
    font-family: lora;
    background-color:#A8EDB3 ;
    color: #421C25;
}
h1 {
    font-family: lobster;
    font-size: 50pt;
}
#hero {
     font-size: 20pt;
     font: lobster;
}
h2{
    font-family: lobster;
    font-size: 25pt;
}
h3,h4,h5 {
    font-family: lobster;
    font-style: 20pt;
    text-align: center;
}
h6 {
    font-family: lobster;
    font-size: 25pt;
    margin-bottom: 10px;
}
ul{
    list-style-position: inside;
    padding-left: 40px;
    line-height: 1.8;
    text-align: left;
    margin: 0;
}
li{
    margin-bottom: 5px;
    font-family: lora;
    font-size: 20px;
}
#hobbies{
    background-color:#EDA8B8 ;
    padding: 0px;
    border-radius: 10px;
    margin: 0;
}
header {
text-align: center;
}

#hero, footer {
    background-color: #2E703B;
    padding: 10px;
    text-align: center;
    color:#EDA8B8
  

   

}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}